.dropdown-children{
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    background-color: rgba(38, 67, 105, 1);
    border-radius:0 0 15px 15px;
    border: 1px solid #D3D3D3;
    border-top: none;
    padding: 12px 16px;
    z-index: 2;
}

.drop-container{
    position: relative;
    z-index: 10;
    padding: .7rem 1rem;
    display: none;
    align-items: center;
    margin: .6rem .4rem;
    cursor: pointer;
    width: auto!important;
    border-radius: 6px;
}