input:focus-within ~ label {
    @apply transform scale-75 -translate-y-6 text-indigo-500;
}

input:focus-within ~ label,
input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
}

input:focus-within ~ label {
    @apply text-indigo-500;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-6;
}

.outline input:focus-within ~ label,
.outline input:not(:placeholder-shown) ~ label {
    @apply transform scale-75 -translate-y-4 z-0 ml-3 px-1 py-0 mt-1;
}