@font-face {
    font-family: 'Roboto';
    src: url('./assets/fonts/Roboto-regular.woff2') format('woff2'), url('./assets/fonts/Roboto-regular.woff') format('woff'),
        url('./assets/fonts/Roboto-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('./assets/fonts/Roboto-medium.woff2') format('woff2'), url('./assets/fonts/Roboto-medium.woff') format('woff'),
        url('./assets/fonts/Roboto-medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./assets/fonts/Roboto-bold.woff2') format('woff2'), url('./assets/fonts/Roboto-bold.woff') format('woff'), url('./assets/fonts/Roboto-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    src: url('./assets/fonts/Roboto-black.woff2') format('woff2'), url('./assets/fonts/Roboto-black.woff') format('woff'), url('./assets/fonts/Roboto-black.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.page {
    padding-top: 1rem;
    min-height: 100vh;
    position: relative;
}

.SnackbarContainer-top {
    top: 90px !important;
}

.react-flow__controls > button {
    border: 1px solid transparent;
}

.react-flow__node-output {
    border-color: #0073c6 !important;
    border-width: 3px !important;
}

.react-flow__node-input {
    border-color: #c4c4c4 !important;
    border-width: 3px !important;
}

.react-flow__node-input.selected {
    border-color: #76a853 !important;
}

.react-flow__node-output.selected {
    border-color: #0073c6 !important;
}

[draggable='true'] {
    position: relative;
    z-index: 1;
}

.handlePulseAnimation::before {
    content: '';
    width: 40px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: -5px;
}

.handlePulseAnimation:hover {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

.oc-fm--file-navigator__toolbar {
    display: none;
}

.react-grid-item > .react-resizable-handle::after {
    width: 20px !important;
    height: 20px !important;
    border-right: 5px solid rgba(0, 0, 0) !important;
    border-bottom: 5px solid rgba(0, 0, 0) !important;
}

.tree_controls {
    position: absolute;
    top: 0;
    right: 10px;
    visibility: hidden;
}

.tree_parent:hover .tree_controls {
    visibility: visible;
}
/* Pipeline flow log running spinner */
@keyframes rotate-keyframes {
    100% {
        transform: rotate(360deg)
    }
}
.anim-rotate {
animation: rotate-keyframes 1s linear infinite;
}
