name: Cypress-tests

on:
  push:
    branches:
      - cypress-test

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Build the stack
        run: docker-compose -f cypress-dockerbuilt-compose.yaml up --build -d

      # - name: Get the ip address of the server
      #   run: |
      #     echo "SERVER_IP=$(docker inspect -f '{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' dataplane_mainapp-cypresstest_1)" >> $GITHUB_ENV

      # - name: Server health check
      #   uses: jtalk/url-health-check-action@v2
      #   with:
      #     url: http://127.0.0.1:9002/healthz
      #     max-attempts: 7
      #     retry-delay: 5s
      
      - name: Server health check
        run: ${GITHUB_WORKSPACE}/.github/workflows/healthcheck.sh

      - name: Cypress run
        uses: cypress-io/github-action@v4
        with:
          working-directory: ./cypress
          build: yarn
          browser: chrome
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
